# Ignore Python cache files
__pycache__/

# Ignore virtual environment folder
env/

# Ignore environment variable file (contains DB credentials)
.env

# Ignore editor / IDE settings
.vscode/

# Ignore compiled Python files
*.pyc
